<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://videoprocessor20230117.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5673cb9-47af-43af-89f8-196c3be71fdd/resourcegroups/VideoProcessor20230117ResourceGroup/providers/Microsoft.Web/sites/VideoProcessor20230117</ResourceId>
    <UserName>$VideoProcessor20230117</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://videoprocessor20230117.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>